<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Los Angeles Restaurant Week Search</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/starter-template.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/search">Los Angeles Restaurant Week Search</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
        </ul> 
        <a class="btn btn-primary" href="https://github.com/jasonfong/dinela_search" role="button">GitHub</a>
      </div>
    </nav>

    <main role="main" class="container">

      <form action="/search" method="get">
        <div class="form-group">
          <div class="container">
            <div class="row">
              <div class="col-sm-10">
                  <label for="queryInput">Menu Items</label>
                  {% if query %}
                  <input type="text" class="form-control" id="queryInput" name="q" placeholder="Sample query: foie gras neighborhood:downtown" value="{{ query }}">
                  {% else %}
                  <input type="text" class="form-control" id="queryInput" name="q" placeholder="Sample query: foie gras neighborhood:downtown">
                  {% endif %}
                  <small id="queryHelp" class="form-text text-muted">Search for one or more menu items.</small>
              </div>
              <div class="col-sm">
                <label for="queryInput">Max Results</label>
                <input type="text" class="form-control" id="limitInput" name="limit" value="{% if limit %}{{ limit }}{% else %}50{% endif %}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <label for="cuisineInput">Cuisine</label>
                <select class="custom-select" id="cuisineInput" name="cuisine">
                  <option value=""{% if not selectedCuisine %} selected{% endif %}>All Cuisines</option>
                  {% for c in cuisines %}
                  <option value="{{ c }}"{% if selectedCuisine == c %} selected{% endif %}>{{ c }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-sm">
                <label for="neighborhoodInput">Neighborhood</label>
                <select class="custom-select" id="neighborhoodInput" name="neighborhood">
                  <option value=""{% if not selectedNeighborhood %} selected{% endif %}>All Neighborhoods</option>
                  {% for n in neighborhoods %}
                  <option value="{{ n }}"{% if selectedNeighborhood == n %} selected{% endif %}>{{ n }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>

      <br/>
      <div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Cuisine</th>
              <th scope="col">Neighborhood</th>
              <th scope="col">Lunch</th>
              <th scope="col">Dinner</th>
            </tr>
          </thead>
          <tbody>
            {% for result in results %}
            <tr>
              <td><a href="{{ dinelaBaseurl }}/{{ result.key.id }}/menu">{{ result.name }}</a></td>
              <td>{{ result.cuisine }}</td>
              <td>{{ result.neighborhood }}</td>
              <td>{{ result.lunch_price }}</td>
              <td>{{ result.dinner_price }}</td>
            </tr>
            <tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </main><!-- /.container -->

    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
